.item-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border-bottom: 1px solid rgb(92, 92, 92);
}

.item-container .left-side {
  max-width: 60%;
}

.item-container .left-side .item-name,
.item-container .left-side .item-price {
  text-align: left;
  margin-bottom: 5px;
}

.item-container .left-side .item-name {
  font-size: 14px;
}

.item-container .left-side .item-price {
  font-size: 12px;
}

.item-container .left-side .item-description {
  font-size: 12px;
  text-align: left;
}

.item-container .right-side {
  position: relative;
}

.item-container .right-side img {
  border-radius: 10px;
  height: 120px;
  width: 120px;
}

.item-container .right-side button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 70px;
  background: white;
  border: 1px solid green;
  border-radius: 5px;
  color: green;
  font-weight: bold;
}

.item-container .right-side button::after {
  content: "+";
  position: absolute;
  top: 0;
  right: 3px;
}
